.grocery_list_container {
  padding: 10px;
  background-color: gold;
}
.groceryList_title {
  text-align: center;
}

.groceryList_items {
  display: flex;
  flex-direction: column;
}
.groceryList_item_details {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.groceryList_item_details p {
  font-size: 12px;
  background-color: brown;
  width: 100px;
  padding: 8px;
  border-radius: 10px;
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
}
.groceryList_item_details button {
  padding: 6px 12px;
  border-radius: 10px;
  background-color: #554c19;
  border: 1px solid #554c19;
  color: white;
  cursor: pointer;
}
